page-intro {
    .slide_img img{
        width: 240px;
      }

    b {
        font-weight: 500;
        }
    
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
        }
    
    b {
        color: #000000;
        }
}
